@font-face{
    font-family: Spectral;
    src: url(Fonts/Spectral-Regular.ttf)
}

body{
    background-image: linear-gradient(#c8f66f, #9481a6);
}

h2{
    color: #483D03;
}

div{
    font-family: Spectral;
    margin: 5vw;

}

img{
    width: 10vw;
}

::selection {
    background: lightpink;
 
}
