@font-face{
    font-family: Spectral;
    src: url(Fonts/Spectral-Regular.ttf)
}


.header{
    color: blue;
}

.div1{
    font-family: Spectral;
    margin: 5vw;
    border-style: line;
    border-color: green;
}
